body{
  font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.custom-border.current-cell {
  background-color: #b9ebff;
  border: 2px solid #417CF2 !important;
  color:#0056b3;
}

#correct {
  background-color: #43a047;
  border: 2px solid #43a047 !important;
  color: #fff;
}

#almost {
  background-color: #e4a81d;
  border: 2px solid #e4a81d !important;
  color: #fff;
}

#error {
  background-color: #757575;
  border: 2px solid #757575 !important;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

#disabled {  
  background-color:rgb(155, 155, 155);  
}